<h1> <%= @cat.name %> </h1>

<ul>
   <li>Birth_date: <%= @cat.birth_date %>   </li>
   <li>Age: <%= @cat.age %>   </li>
   <li>Color: <%= @cat.color %></li>
   <li>Gender: <%= @cat.sex %></li>
   <li>Description: <%=@cat.description  %> </li>
</ul>

<%= link_to "Back to all cats", cats_url %>
<%= link_to "Edit this cat", edit_cat_url(@cat) %>
