<%= link_to "Back to #{@sub.title}", sub_url(@sub) %>
<h1><%= @post.title %></h1>

<% if current_user_id == @author.id %>
  <form action="<%= edit_post_url(@post) %>" method="get">
    <input type="hidden" name="post[sub_id]" value="<%= params[:sub_id] %>">
    <input type="submit" value="Edit post" %>
  </form>
<% end %>

<%= render( "shared/parent_content",
    thought: @post,
    author: @author,
  )
 %>
 <%= render("shared/discuss_button",
    thought: @post,
    discuss_link: new_post_comment_url(@post.id)
    )
  %>

<ul>
  <%= render @comments %>
</ul>

<%= link_to "Back to #{@sub.title}", sub_url(@sub) %>
