<%= link_to "Back to #{@sub.title}", sub_url(@sub) %>
<h1><%= @post.title %></h1>

<% if current_user_id == @author.id %>
  <form action="<%= edit_post_url(@post) %>" method="get">
    <input type="hidden" name="post[sub_id]" value="<%= params[:sub_id] %>">
    <input type="submit" value="Edit post" %>
  </form>
<% end %>



<p>
  <%= @author.username %>
  <small>
    <%= time_ago_in_words(@post.created_at) %> ago
  </small>
  <pre>
  <%= @post.content %>
  </pre>
</p>

<p><%= link_to "Add Comment", new_post_comment_url(@post.id) %></p>

<%= render @comments %>


<%= link_to "Back to #{@sub.title}", sub_url(@sub) %>
