<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= button_to("logout", session_url, method: :delete) if current_user %>
  <ul>
    <% flash[:errors].try(:each) do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>

<%= yield %>

</body>
</html>
